{% import 'dependencies.html.j2' as deps %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web-based platform for APA features exploration in hematological tumors">
    <meta name="author" content="Jialin Song">
    <title>{% block title %}A web-based platform for APA features exploration in hematological tumors{% endblock %}</title>

    {% block all_CSS %}
    {{ deps.bootstrap_CSS() }}
    <link rel="stylesheet" href="/static/custom.css">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container">
        <div class="flex-column flex-grow-1">
          <div>
            <a class="navbar-brand fs-1" href="/index">APAview</a>
            <span class="navbar-text">A web-based platform for alternative polyadenylation analyses in hematological tumors</span>
          </div>
          <ul class="navbar-nav justify-content-evenly border-top border-bottom">  <!-- d-flex -->
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-query-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Query</a>
              <ul class="dropdown-menu" aria-labelledby="navbar-query-dropdown">
                <li><a class="dropdown-item" href="/QAPA/query">QAPA</a></li>
                <li><a class="dropdown-item" href="/DaPars/query">DaPars</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/de_analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-4">
      {% block body required %}
      {% endblock %}
    </div>
    {% block all_JS %}
    {{ deps.bootstrap_JS() }}
    {% endblock %}
  </body>
</html>
