{% macro jQuery() -%}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{%- endmacro %}

{% macro bootstrap_CSS() -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha256-z8OR40MowJ8GgK6P89Y+hiJK5+cclzFHzLhFQLL92bg=" crossorigin="anonymous">
{%- endmacro %}

{% macro bootstrap_JS() -%}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha256-zMDueDFY0as65ZDvjJgqgn446Lgv0SFVHN1MIAQfzRs=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha256-c4Ll6eSIg6Eothk8pCWAF8aE923EvtU11pqjBy+NjNM=" crossorigin="anonymous"></script>
{%- endmacro %}

{% macro font_awesome() -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous">
{%- endmacro %}

{% macro bootstrap_table_CSS() -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" integrity="sha256-ZD9Tb2mCr01yh68j+JrUV91+SoL5xpUzChErCIHDCko=" crossorigin="anonymous">
{%- endmacro %}

{% macro bootstrap_table_JS() -%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.19.1/dist/bootstrap-table.min.js" integrity="sha256-BqVxqb61C9Xd1gUXFZd13+wfPnmP/zj7EXriNQ3Jup0=" crossorigin="anonymous"></script>
{%- endmacro %}

{% macro bootstrap_table_export_plugin() -%}
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.26/tableExport.min.js" integrity="sha256-xJACzAFMXJzJW5buOwpvW22Im/QLsToA8c1IsG+GKgE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js" integrity="sha256-n5+lMFyA6JMA7scukYMCE3qBNFvgFCuZQQ2ZiyWa5gU=" crossorigin="anonymous"></script>
{%- endmacro %}

{# {% macro bootstrap_table_filter_plugin() -%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js" integrity="sha256-frouV9avYmyTyKl5LJFFe0DEongZq3f1Xu+FUZScdJA=" crossorigin="anonymous"></script>
{%- endmacro %}
 #}
{% macro bootstrap_table_lang() -%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.19.1/dist/locale/bootstrap-table-zh-CN.min.js" integrity="sha256-pE+tLWBaNzEJufpbligmXg6jcxEHGXrWjQe4rv3yUNY=" crossorigin="anonymous"></script>
{%- endmacro %}

{% macro plotly() -%}
<script src="https://cdn.jsdelivr.net/npm/plotly.js@2.3.1/dist/plotly-cartesian.min.js" integrity="sha256-kFOuZJjuSjXVdiyaIZ9SHD98IBd84psNYPxaRc9LW6A=" crossorigin="anonymous"></script>
{%- endmacro %}

{% macro plotly_lang() -%}
<script src="https://cdn.jsdelivr.net/npm/plotly.js@2.3.1/dist/plotly-locale-zh-cn.js" integrity="sha256-5zdCDH5D995EQeCYHAkAKRG6MsNJtLTdOLxpYO2OeTk=" crossorigin="anonymous"></script>
{%- endmacro %}

{% macro igvjs() -%}
<script src="https://cdn.jsdelivr.net/npm/igv@2.11.2/dist/igv.min.js" integrity="sha256-qOPrvTvefGJIy5gzDYnUlhdm2qaWoaLImDt42hgKwnc=" crossorigin="anonymous"></script>
{%- endmacro %}
