{% extends "base.html.j2" %}

{% block title %}APAview{% endblock %}

{% block body %}
<h3 class="mb-2">Introduction</h3>
<div>
	<div class="row">
		<div class="col">
			<p>Alternative cleavage and polyadenylation (APA) is an important post-transcriptional process for the transformation of precursor mRNA to mature mRNA. It is prevalent in more than 70% of genes in human cells and shows highly tissue and cell-type specific. APA sites alternation has been found to associate with human hematological, immunological, and neurological diseases, as well as cancers. It always occurs in the 3' untranslated region (3'UTR) and changes 3'UTR length, thereby affecting mRNA stability, transcription efficiency, subcellular localization, and subsequent protein localization and function. APA provides a new perspective for the occurrence, progression, and treatment of human complex diseases. However, there are still few studies on the APA landscape in hematological tumors.</p>
			<p>Here we present APAview, a web-based platform for APA features exploration in hematological tumors, to analyze APA quantification data from QAPA/DaPars.</p>
		</div>
		<div class="col-4 d-flex align-items-center">
			<img src="/static/APA_example_small.png" class="img-fluid" alt="APA diagram">
		</div>
	</div>
</div>
<div>
	Taking APA, gene/transcript expression, and clinical information as input, APAview could:
	<ol>
		<li>provide correlation analysis between APA usage index and gene/transcript expression;</li>
		<li>provide differential analysis of APA usage index or other features among groups;</li>
		<li>identify genes with shortened/lengthened 3’UTR between groups;</li>
		<li>provide survival analysis based on APA usage index;</li>
		<li>annotate genes and APA sites using databases such as NCBI and polyA DB;</li>
		<li>visualize gene structures, APA sites, miRNA, RBP, and APA motifs in IGV plots.</li>
	</ol>
</div>
{% endblock %}
